html, body {
  margin: 0;
  padding: 0;
}

.editor-head {
  display: flex;
}
.editor-body {
  border: 1px solid #000;
  min-height: 300px;
}
.editor-body:focus {
  outline: 0;
  border: 1px solid #0066CC;
}

.editor-body table {
  border: 1px solid #000;
  border-collapse: collapse;
}
.editor-body table td {
  border: 1px solid #000;
  min-width: 80px;
}

